@charset "utf-8";
/* CSS Document */

a:active{star:expression(this.onFocus=this.blur());}
a:focus,button:focus{outline:none; -moz-outline:none;}
:focus{outline:none;}
/*Reset Css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,area,param{margin:0; padding:0;}
html,body{height:100%;}
select{*behavior: url("select.htc");}/*IE6,IE7select*/
ol,ul{padding-left:0; list-style-type:none; list-style:none;}
img{border:none; display:inline-block; vertical-align:middle;}
th{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
address, caption, cite, code, dfn, em, th, var,strong {font-style:normal;font-weight:normal;}
input{display:inline-block;vertical-align:middle;}
fieldset{border:none;}
legend{display:none;}
body{font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;color:#141414;font-size:14px;background-color:#f1f1f1; line-height:24px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

.bgffff{ background:#ffffff;}
/*Clear Css*/
.clear{clear:both; font-size:0px; height:0px; line-height:0;}
.clearfix:after{content:'\20';display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:block;zoom:1;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

/*Common Css*/
.fl{float:left; _display:inline;}
.fr{float:right; _display:inline;}
.re_position{ position:relative;}
.ab_position{ position:absolute;}

/*font_size font_color font_family*/
.fs_12{font-size:12px;}
.fs_14{font-size:14px;}
.fs_16{font-size:16px;}
.fs_18{font-size:18px;}
.fs_20{font-size:20px;}
.fs_22{font-size:22px;}
.fs_24{font-size:24px;}
.fs_26{font-size:26px;}
.fs_28{font-size:28px;}
.fs_30{font-size:30px;}
.fs_32{font-size:32px;}
.fs_36{font-size:36px; line-height:36px;}
.fc_88{ color:#888888;}
.fc_57{ color:#595757;}
.fc_ff{ color:#FFF;}
.fc_00{ color:#000000;}
.fc_9f{ color:#9fa0a0;} 
.fc_86{ color:#134986}
.ls_ztjj{letter-spacing:5px;}
.fc_3a39{ color:#3e3a39}
.ft-wt{ font-weight: 600;}
.ft-wt800{ font-weight: 800;}
/*间距*/
.mb_10{margin-bottom:10px;}
.mb_20{margin-bottom:20px;}
.mt_6{margin-top:6px;}
.mt_8{margin-top:8px;}
.mt_10{margin-top:10px;}
.mt_60{margin-top:60px;}
.mt_20{margin-top:20px;}
.mtb_10{margin:10px 0;}
.mtb_20{margin:20px 0;}
.mlr_20{margin:0 20px;}
.mlr_10{margin:0 10px;}
.mtblr_20{margin:20px;}
.mtb_30{margin:30px 0;}
.mtb_40{margin:40px 0;}
.mt_20{margin-top:20px;}
.mt_30{margin-top:30px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_30{margin-left:30px;}
.ml_32{ margin-left:32px;}
.ml_80{ margin-left:80px;}
.ml_40{ margin-left:40px;}
.ml_180{ margin-left:185px;}
.ml_210{ margin-left:210px;}
.ml_100{ margin-left:100px;}
.ml_110{ margin-left:110px;}
.ml_130{ margin-left:130px;}
.mr_65{margin-right:80px;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_20{margin-right:20px;}
.mr_30{margin-right:30px;}
.mr_40{margin-right:40px;}
.mr_60{margin-right:60px;}
.mtrl_20{ margin: 20px 20px 0 20px;}
.pr_05{ padding-right:5px;}
.pt_20{ padding-top:20px;}
.pt_45{ padding-top:45px;}
.pt_10{ padding-top:10px;}
.pl_20{ padding-left:20px;}
.pl_10{ padding-left:10px;}
.pd_20{ padding:20px 0;}
.p4x_20{ padding:20px;}
.plr_20{ padding:0 20px;}
.plr_10{ padding:0 10px;}
.ptrxz_20{ padding:0 20px 20px 20px;}
.pbm_10{ padding-bottom:10px;}
.pbm_20{ padding-bottom:20px;}
.box_auto{ margin:0 auto;}


.min-ht{ min-height: 586px;}
span.sp_block{ display:inline-block; }
/*宽高*/
.w_wd01{ width:200px;}
.w_wd02{ width:128px;}
.w_wd03{ width:90px;}
.w_wd04{ width:140px;}
.w_wd05{ width:80px;}
.w_wd06{ width:90px;}
.w_wd07{ width:160px;}
.w_wd08{ width:110px;}
.w_wd09{ width:54px;}
.w_wd10{ width:100px;}
.w_wd11{ width:91px;}
.w_wd12{ width:875px;}
.w_wd13{ width:260px;}
.w_wd14{ width:170px;}
.w_wd15{ width:120px;}
.w_wd16{ width:95px;}
.w_wd17{ width:600px;}
.w_wd18{ width:212px;}
.w_wd19{ width:60px;}
.w_wd20{ width:702px;}
.w_wd21{ width:300px;}
.w_wd22{ width:70px;}
.w_wd23{ width:118px;}
.w_wd24{ width:450px;}
.w_wd25{ width:210px;}
.w_wd26{ width:65px;}
.w_wd27{ width:360px;}
.w_wd30{ width:30px;}
.w_wd40{ width:40px;}
.w_wd41{ width:180px;}



.h_ht01{ height:280px;}
.h_ht02{ height:270px;}
.h_ht03{ height:200px;}
.h_ht04{ height:150px;}
.h_ht05{ height:60px;}
.h_ht06{ height:320px;}
.h_ht07{ height:40px;}
.h_ht08{ height:100px;}
.h_ht09{ height:300px;}
/*背景颜色*/

.bg_bray{ background:#f0f0f0;}
.bg_white{ background:#FFF;}
.bg_blue{ background:#f3f9fd;}
/*input 设置*/
input.chkb{width: 14px;height:14px;vertical-align:middle;border-radius:2px; -moz-border-radius: 2px;-khtml-border-radius: 2px;
-webkit-border-radius: 2px; border:1px solid #141414;color: #7e7e7e;}
input.mcq{width: 14px;height:14px;vertical-align:middle;border:none;color: #7e7e7e;margin-top:0;}
input.frm_input{ border:1px solid #e4e4e4; height:20px; line-height:20px;  color:#595757;padding:2px 5px; } 
input.search_input{ border:1px solid #e4e4e4; height:20px; line-height:20px; padding:3px 2px 2px 22px; color:#595757; font-size: 12px; color: #888888;border-radius:4px; -moz-border-radius: 4px;-khtml-border-radius: 4px;
-webkit-border-radius: 4px;}
input.frm_input01{ border:1px solid #e4e4e4; height:35px; line-height:35px; padding:2px 5px 2px 42px; color:#595757;}
select.frm_input{ border:1px solid #e4e4e4; height:26px; line-height:26px; color:#595757; width:86px;}
select.frm_sel{ border:1px solid #e4e4e4; height:26px; line-height:26px; color:#595757;}
/*格式*/
.txt_center{ text-align:center;}
.txt_left{ text-align:left; padding-left:10px;}
.txt_right{ text-align:right; }
.txt_none{text-indent: -9999px;}
.mg_lt40{left:40%;}
.top11{top:-11px; }
.top10{top:-10px; }
.vert_top{vertical-align:top;}
.vert_center{ vertical-align:middle;}
.hjj_ht01{ line-height:25px;}
.hjj_ht02{ line-height:30px;}
.hjj_ht03{ line-height:40px;}
.hjj_ht04{ line-height:70px;}


/*安全级别*/
.low,.middle,.high{ width:60px; height:10px; display:inline-block; border:1px solid #e4e4e4;}
.rank_bg{ background:#e68f07;}


/*a 字体颜色设置*/
a.m_btn01{ height:30px; line-height:30px; text-align:center;}
a.m_btn02{ height:40px; line-height:40px; text-align:center;}
a.m_btn03{ height:25px; line-height:25px; text-align:center;}
a.m_bdbg{ border:1px solid #e68f07; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
a.m_bdblue:hover{ background:#2896d4; color:#FFF;}
a.m_bdblue{ border:1px solid #2896d4; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
a.m_orangbg{ background:#e68f07; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;color:#ffffff;}
a.m_bluebg{ background:#2896d4; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;color:#ffffff;}
a.m_graybg{ background:#8e8e8e; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px;color:#ffffff;}
a.m_blbg{ background:#2896d4; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px;color:#ffffff;}

a.m_bdbg:hover{ background:#e68f07; color:#ffffff;}
a.verbtn{ height:20px; line-height:20px; text-align:center; padding:2px 5px;border:1px solid #2896d4; vertical-align:middle;}
a.verbtn:hover{ color:#FFF; background:#2896d4;}
a.reg_btn:hover{ color:#e68f07;}
a.login_btn:hover{ color:#2896d4;}
a.bg01{ background:#e68f07; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border-bottom:2px solid #bc7820;}
a.bg02{ background:#67b7e9; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border-bottom:2px solid #3a95ce;}
a.bg03{ background:#dddddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border-bottom:2px solid #c7c7c7;}
a {display:inline-block;font-size: 14px;color: #141414;text-decoration: none;}
a.a_blue,.sp_blue{ color:#2896d4;}
a.a_orange,.sp_orange{ color:#e68f07;}
a.line_orange{color:#e68f07; text-decoration:underline;}
a.line_blue{color:#2896d4; text-decoration:underline;}
a.line_gray{color:#999; text-decoration:underline;}
a.n_close{ background:url(../../images/images/icon/close.png) no-repeat; width:11px; height:11px;text-indent: -9999px; display:inline-block;}
.sp_gray{ color:#666666;}
.sp_red{ color:#e9281a;}
 
/*错误提示*/
span.error_tip{ color:#e9281a; font-size:12px; letter-spacing:2px;}
.icon_rt{ vertical-align:middle;  width:15px; height:15px; background:url(../../images/images/icon/right.png) no-repeat left center;  display:inline-block; }
.icon_er{ vertical-align:middle;  width:15px; height:15px; background:url(../../images/images/icon/close_red.png) no-repeat left center; display:inline-block; }
.icon_sanjiao{ vertical-align:middle;  width:5px; height:10px; background:url(../../images/images/icon/rt_sanjiao.png) no-repeat left center; display:inline-block; }
.icon_oarange_sanjiao{ vertical-align:middle;  width:5px; height:9px; background:url(../../images/images/icon/orange_trange.png) no-repeat left center; display:inline-block; }

.icon_warn{ vertical-align:middle; width:18px; height:18px; background:url(../../images/images/icon/warn.png) no-repeat left center; display:inline-block; }
.icon_regsucceed{ vertical-align:middle; width:31px; height:20px; background:url(../../images/images/icon/icon_succeed.png) no-repeat left center; display:inline-block;}
.counter_icon{ vertical-align:middle; width:37px; height:37px; background:url(../../images/images/icon/counter_icon.png) no-repeat left center; display:inline-block;}
.error{ height:20px!important; line-height:20px; font-size:12px; }
.search_box{ position: absolute;z-index: 2; left: 5px; top: 4px; vertical-align:middle; width:16px; height:16px; background:url(../../images/images/icon/icon_search.png) no-repeat left center; display:inline-block;}
.icon_diamonds{ vertical-align:middle;  width:4px; height:4px; background:url(../../images/images/icon/blue_dot.png) no-repeat left center; display:inline-block; }
.help_info{ vertical-align:middle; cursor: pointer;  width:21px; height:21px; background:url(../../images/images/icon/help_info.png) no-repeat left center; display:inline-block; }

/*布局 Css*/
#container {
min-height:100%;
height: auto !important;
height: 100%; /*IE6不识别min-height*/
position: relative;
}
#header { width:100%; height:30px;}
.n_head{ height:1px; background:#f0f0f0;}

#page {
width: 1000px;
margin: 0 auto;
padding-bottom:200px;/*等于footer的高度*/
}
#footer {
position:absolute;
bottom: 0;
width: 100%;
padding:40px 0;
height: 120px;/*脚部的高度*/
clear:both;
background:#0a2f49;
}



#left {width: 156px;margin-right: 10px;}
#right{width:832px;height:100%;}
.main {width: 1000px;margin: 0 auto;}
.mid{width: 1000px;margin: 0 auto;}
.ad_bd{ border:1px solid #e4e4e4;}
.ad_bm_bd{ border-top:1px solid #e4e4e4;}
.bd_tp_dash{ border-top:1px dashed #e4e4e4;}
.bottom_bd{ border-bottom:1px dashed #e4e4e4;}
.bm_bd{ border-bottom:1px solid #e4e4e4;}
.bm_bd_none{ border-bottom:0;}


.bd_lt{border-right:1px solid #e4e4e4;}
.click_red{ width:15px; height:15px; background:url(../../images/images/icon/close_red.png) no-repeat;}

/*=======头部=======*/   
.jltx_top{ width:100%; height:30px; vertical-align:middle; line-height:27px; background:#092a45;}

.info-tip{ width:22px; height:22px; margin-top:7px; position:relative; background:url(../../images/images/icon/info_center.png) no-repeat top; cursor:pointer;}
.info-tip a.info-data{position:absolute; top:-6px; left:15px; z-index:9;width:13px; height:13px;  background:url(../../images/images/icon/info-tip-data.png) no-repeat center; color:#FFF; font-size:10px; text-align:center; line-height:13px;}
.info-detail{ position:absolute; top:20px; left:-30px; z-index:12; border:1px solid #d8d8d8; width:80px; background:#FFF; display:none;}
.info-detail a{text-align:center;}
.info-detail a:hover{ text-decoration:underline;}
a.info-content{display:block;font-size:12px; line-height:20px;}
.info-detail a span.blue{ font-size:12px;}

.jltx_nav{ width:100%; height:75px; background:#ffffff; border-bottom:1px solid #e4e4e4; position: relative;}
ul.jltx_login li{ float:left; display:inline-block;}
.split_line{ margin:0 10px;}
.logo{ width:132px; height:75px; text-align:left; vertical-align:middle;}
.logo a img{ display:block;}
ul.nav_list li{ float:left; width:65px; margin-left:40px;text-align:center;}
ul.nav_list li a{color:#727171;line-height:70px;border-top:4px solid #ffffff; font-size:16px;}
ul.nav_list li a:hover{color:#2896d4;}
ul.nav_list li a.on{ color:#2896d4; line-height:70px; border-top:4px solid #2896d4; width:65px;}
ul.nav_list{ margin-left:100px;}
.fast_invest .fast{ position:absolute; right:0; top:0; z-index:67;}

/*=======底部=======*/   
	
.footer .foot_code{ width:200px;}
.ft_nav ul{ list-style:none; margin:0 auto;}
.ft_nav ul li{ float:left; display:block; padding-left:20px;text-align:left;}
.ft_nav ul li a{ color:#f5f5f5; font-size:14px;}
.ft_nav ul li a:hover{  text-decoration:underline;}
.copy{ color:#f5f5f5;font-size:14px; margin-left:20px; padding-bottom:10px;}





/* index */
/*轮播图*/
.mypng img {
azimuth: expression( this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "static/images/images/img/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("', '').replace('")', ''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")), this.pngSet=true);
  }/* 兼容ie6png代码 */
#focusBar { width:100%; height:300px; clear:both; position:relative; background:#242424; overflow:hidden;}
#focusBar li { width:100%; clear:both; height:404px; display:none; position:absolute;/* position:relative;*/}
#focusBar .focusL { height:300px; margin-top: -1px; position:absolute; z-index:9; /*left:-1000px;*/ top:0px; left:-500px; margin-left:50%;}
#focusBar .focusR { height:300px; margin-top: -1px; position:absolute; z-index:19;/* right:1000px; */top:0px; left:-500px; margin-left:50%;}
a.arrL,a.arrR { display:block; width:48px; height:62px; color: #fff; font-size: 18px; text-align: center; line-height: 120px; position:absolute; top:105px; z-index:99; cursor:pointer;background-repeat:no-repeat; }
a.arrL { left:-48px; } a.arrR { right:-48px; }

/*投资融资安全*/
.three_block{ width:33%;}
.invest{ margin:20px;}
.invest a{  display:inline-block;}
.invest a.invest_icon01{  display:inline-block;background:url(../../images/images/invest_icon04.png) no-repeat; width:66px; height:76px;}
.invest a.invest_icon02{ display:inline-block; background:url(../../images/images/invest_icon05.png) no-repeat; width:66px; height:76px;}
.invest a.invest_icon03{ display:inline-block; background:url(../../images/images/invest_icon06.png) no-repeat; width:64px; height:76px;}
.invest a.invest_icon01:hover {  display:inline-block;background:url(../../images/images/invest_icon01.png) no-repeat; width:66px; height:76px;}
.invest a.invest_icon02:hover { display:inline-block; background:url(../../images/images/invest_icon02.png) no-repeat; width:66px; height:76px;}
.invest a.invest_icon03:hover { display:inline-block; background:url(../../images/images/invest_icon03.png) no-repeat; width:64px; height:76px;}
.invest a.invest_span{ display:inline-block; color:#727171; font-size:14px; margin:0px 20px;width:155px; vertical-align:top; line-height:25px; cursor:default;}
.invest a:link.invest_span,.invest a:hover.invest_span{color:#727171;}

.amount{ height:150px;}
.valign{ margin:40px 0;}
.valign p{ line-height:30px;}
.valign p.sum_money{ color:#595757; font-size:16px;}
h3.m_title{ font-size:14px; color:#727171;font-weight:500;padding:0 10px;}
p.sum_blue{color:#1f92d9; font-size:32px;  margin-top:10px;}
p.sum_orange{color:#f39c15; font-size:32px;  margin-top:10px;}



.finace_tend_image{ position:relative;}
.icon_clircle{ background:url(../../images/images/icon/click_circle.png) no-repeat; width:16px; height:16px;}
#circle01,#circle02,#circle03,#circle04,#circle05{ position:absolute; z-index:999; display:none; }
#circle01,#circle1{ top:120px; left:166px;}
#circle02,#circle2{top:62px; left:337px;}
#circle03,#circle3{top:99px; left:534px;}
#circle04,#circle4{top:35px; left:672px;}
#circle05,#circle5{top:58px; left:900px;}

.icon_clircle01{width:16px; height:16px;}
#circle1,#circle2,#circle3,#circle4,#circle5{ position:absolute; z-index:999; cursor:pointer;}

.media_more{ width:100%; height:160px; background:url(../../images/images/invest_more_bg.png) repeat-x top #f0f0f0; border-bottom:1px solid #b5b5b6;}
a.media_hover{ display:block; width:1000px; height:120px; background:url(../../images/images/invest_media_more_hover.png) no-repeat;}
a.media_hover:hover{ display:block; width:1000px; height:120px;   background:url(../../images/images/invest_media_more.png) no-repeat;}

.state_report{ margin:20px 0;}
h2.report_new{ font-size:18px; color:#595757; font-weight:500; margin-left:40px;}
ul.report_detail{  margin-left:40px; margin-top:20px; height:240px;}
ul.report_detail li{ line-height:35px;}
ul.report_detail li.icon_media{height:32px;}
ul.report_detail li a.icon_dot{ color:#595757; background:url(../../images/images/icon/dot.png) no-repeat left center; padding-left:15px;}
ul.report_detail li a.icon_media{ color:#595757; background:url(../../images/images/icon/media_report.png) no-repeat left center; padding-left:30px; height:31px; display:block;}
ul.report_detail li a.icon_media:hover,ul.report_detail li a.icon_dot:hover{ color:#197ab8;}
.agency_img img{ margin-left:40px; margin-top:20px;}


 /*登陆 注册*/
 
 .login_part{ height:450px; width:100%; background:url(../../images/images/new_login.jpg) no-repeat left top;}
 .lt_login{ width:260px; margin-right:40px; margin-top:40px;}
.lt_login h1.title{ color:#2896d4; font-size:18px;}
.user_icon{ position:absolute; z-index:9999; display:inline-block; top:1px; left:1px; width:30px; height:30px; padding:5px 4px; background:#e5e5e5;}
.register_part{ height:670px; margin-top:20px; width:100%; background:url(../../images/images/new_register.jpg) no-repeat right top;}
.left_register h1.regTitle{color:#2896d4; font-size:18px;}
.login_mid{ position:absolute; top:50%; left:50%; width:1000px; height:588px; margin:-294px 0 0 -500px;}
.m_rg { margin: 50px auto;}
.rg_success{background:url(../../images/images/gift02.png) no-repeat center bottom; font-size: 14px;}
.rg_success .center{ height:560px; width:1000px; text-align:center; padding-top:100px;}
.rg_success .center p a.orange{ color:#ff9f21;}

 /* 账户中心 | 左导航*/
.user_nav{padding-bottom:10px;}
.user_nav h3{ border-bottom:1px dashed #e4e4e4;}
.user_nav h3,.user_nav h4{padding-left:20px;}
.user_nav h4{ height:40px; line-height:40px; vertical-align:middle; cursor:pointer; border-bottom:1px dashed #e4e4e4;}
.user_nav h3.open i{background-position:0 0;}
.user_nav h3.folding i{background-position:0 -8px;}
.user_nav h3 span,.user_nav h4 span{display:inline-block; vertical-align:middle; width:100px; height:40px; line-height:40px; font-size:14px; color:#141414; font-weight:700;}
.user_nav .h3,.user_nav .h4{width:90px; height:40px; padding-left:20px; line-height:40px; font-size:14px; color:#141414; font-weight:700;}
.user_nav .h4 a{ color:#141414}
.user_nav .h4 a:hover{ color:#141414}
.user_nav h4 i{display:inline-block; vertical-align:middle; width:7px; height:7px; font-size:0; line-height:7px; background:url(../../images/images/icon/user_nav01.gif) no-repeat;}
.user_nav h4.open i{background-position:0 0;}
.user_nav ul{ display:block; width:100%; border-bottom:1px dashed #e4e4e4;}
.user_nav ul.btm_nobd{ border-bottom:none;}
.user_nav ul li{height:34px; line-height:34px; vertical-align:middle;}
.user_nav ul li a{display:block; height:34px; line-height:34px; padding-left:36px; border-left:4px solid #fff;}
.user_nav ul li a:hover{background-color:#f1f1f1; border-left:4px solid #fff; color:#2896d4;}
.user_nav ul li.active{}
.user_nav ul li.active a{display:block; height:34px; line-height:34px; padding-left:36px; background-color:#f1f1f1; border-left:4px solid #2896d4; color:#2896d4}
.leftbar {width:160px; }
h4 {font-size: 14px;}
.user_nav h4 i {
display: inline-block;
vertical-align: middle;
width: 7px;
height: 7px;
font-size: 0;
line-height: 7px;
background:url(../../images/images/icon/user_nav01.gif) no-repeat;
}
.user_nav h3 i {
display: inline-block;
vertical-align: middle;
width: 7px;
height: 7px;
font-size: 0;
line-height: 7px;
background:url(../../images/images/icon/user_nav01.gif) no-repeat;
}
.left_nav {
width: 156px;
background: #fff;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
border:1px solid #e4e4e4;
}
.none{ display:none;}
p.p_none{text-indent:-9999px;}
p.p_2em{text-indent:2em;}

/*资产中心*/
.banner{ background:#e8ecf1; height:310px; width:100%;}
.box{ border-top:1px solid #e4e4e4;}
.box h1.title{ color:#3e3a39; text-align:center; font-weight:500; font-size:18px;height:20px; line-height:20px; position:relative; z-index:30;margin:0 auto;}
.box h1.bg01{ background:url(../../images/images/icon/bg_wt_bl.png) repeat-x;} 
.box h1.bg02{ background:url(../../images/images/icon/bg_bl_wt.png) repeat-x;}
.box h1.bg03{ background:#ffffff;}
.box h1.bg04{ background:#f1f1f1;}
.box_none_bd{ border-top:0;}
.box_none_bd h1.bg03{ background:#ffffff;}
.box_none_bd h1.title{ color:#3e3a39; text-align:center; font-weight:500; font-size:18px;height:20px; line-height:20px; position:relative; z-index:30;margin:0 auto;}
.sxtj h3.title{color:#3e3a39; text-align:center; font-weight:500; font-size:16px;height:20px; line-height:20px; position:relative; z-index:30; top:-10px; left:10px; }
.agency ul{}
.agency ul li{ float:left; margin:10px; color:#565656; text-align:left;}
.fold_more{ text-align:center; color:#1b95e0;background:url(../../images/images/icon/fold_down.png) no-repeat left center; padding-left:18px;}
.fold_cut{ text-align:center; color:#1b95e0;background:url(../../images/images/icon/fold_up.png) no-repeat left center; padding-left:18px;}
.pro_frm{ margin:30px 0 30px 60px;}
.nm_item{ margin:15px 0;}
.nm_item label,.nm_item input,.nm_item textarea{ display:inline-block;}
textarea.ttarea{ border:1px solid #e4e4e4;padding:5px;}
ul.qr_info{ list-style:none;}
ul.qr_info li{ float:left; width:475px; line-height:35px;}
.file-box{ position:relative;}
.btn{ background-color:#f0f0f0; border:1px solid #f0f0f0;height:25px; line-height:25px; width:70px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;} 
.btn02{ background-color:#dcdada; border:1px solid #f0f0f0;height:25px; line-height:25px; width:122px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;} 
.file{ position:absolute;  top:0; left:340px; height:25px; line-height:25px;width:150px; filter:alpha(opacity:0);opacity: 0;} 
.ydrkhd{border:1px solid #e4e4e4; width:570px; margin:30px auto; background:#f3f9fd; padding:20px; text-align:center;}
.pay_del{ width:360px; height:140px; margin:0 auto;}
.yh_state{ margin:30px 0;}
.yh_state p{ line-height:25px;}
.protocol_datail p{ text-indent:2em;line-height:25px;}
.protocol_datail h3{ font-weight:500; line-height:30px; font-size:14px;}
.det_mid{ margin:0 auto; text-align:center;}


 /* 分页*/
.pagination ul{ list-style:none;}
.pagination ul li{ float:left; margin:0 5px;}

 /* 帮助中心*/
ul.touzibuzhou{ list-style: none; margin-left: 22px;}
ul.touzibuzhou li{ float: left; margin: 10px 20px;}
ul.touzibuzhou li.touzi_step img{ display: inline-block; margin-top: 30px;}
ul.touzibuzhou li a.tzbz_list{ width: 113px; height: 112px; display: inline-block; text-align: center; line-height: 40px;}
ul.touzibuzhou li a.tzbz_list img{ display: inline-block; margin-top: 20px;}
ul.touzibuzhou li a.tzbz_list:hover{ background: url(../../images/images/bigicons/touzi_bg.png) no-repeat center;}
.quick_access a{ margin: 20px 30px 0 30px; border: 1px solid #e4e4e4; display: inline-block; padding: 5px 0; width: 120px; text-align: center;}
.quick_access a:hover{ background: #eaf7fc;box-shadow: 0px 0px 5px rgba(136,136,136,0.4);-webkit-box-shadow: 0px 0px 5px rgba(136,136,136,0.4);-moz-box-shadow: 0px 0px 5px rgba(136,136,136,0.4);}

.ques_block{ width: 400px;}
.ques_block h4{ height: 35px; line-height: 35px;}
.ques_block ul { margin-top: 10px; }
.ques_block ul li{ line-height: 35px; color: #666666;}
.ques_block ul li a:hover{ color: #2896d4;}

/*table 表格*/
.tab_asset{ margin-bottom:20px;}
.tab_asset table{ text-align:center;}
.tab_asset table tr:hover{ background:#f0f0f0;}
.tab_asset table tr th{text-align:center; font-weight:400; padding:10px 0; color:#898989;}
.tab_asset table tr td{ color:#3e3a39; text-align:center; padding:10px 0;}
.tab_asset table tr td.tab_bg{height:1px; width:1000px;background:url(../../images/images/index_tab_bord.png) no-repeat bottom #ffffff; padding:0; }

.selected{ background:#f3f9fd;}
.slz{ width:140px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tab_asset table tr th.txt_left,.tab_asset table tr td.txt_left{ text-align:left; padding-left:20px;}

.list_tab table tr th{font-size:16px; text-align:center; color:#666666;}
.list_tab table tr td{text-align:center; padding:10px 0;}
/*tab切换*/
.tab-head { overflow:hidden; zoom:1; height:40px; position:relative; z-index:60;}
.tab-head li{ float:left; width:107px; height:40px; line-height:40px; text-align:center; cursor:pointer;border-top:2px solid #ffffff; color:#999999;}
.tab-head li.active{border-top:2px solid #2896d4; color:#2896d4; border-bottom:1px solid #ffffff; background:#ffffff;}
.tab-content{ border-top:1px dashed #e4e4e4; position:relative; z-index:58; top:-1px;}
.tab-content li{ border-top:0 none;}

.tab-hd { overflow:hidden; zoom:1; height:40px; position:relative; z-index:60; background:#f1f1f1;}
.tab-hd li{ float:left; width:107px; height:40px; background:#e4e4e4; line-height:40px; color:#666666; text-align:center; cursor:pointer;}
.tab-hd li.active{color:#2896d4; background:#ffffff;}




/*账户中心*/

.crumbs {height: 36px;padding: 3px 0 0 5px;}
.userCrumbs {width: 1000px;margin: 0 auto;}
.crumbs, .crumbs a, .crumbs span {line-height: 36px;}
.crumbs a, .crumbs span {display: inline-block;padding-right: 5px;}
.n_prompt{ width:998px; height:35px; border:1px solid #eeb57c; margin-bottom:10px; background:#ffffff;}
.n_prompt .ts_yz{ line-height:35px; padding-left:10px;}
.gb_prompt{ margin:10px;}
.userSubnav{ width:1000px; height:40px; line-height:40px; background:#e4e4e4; margin-bottom:10px;}
.userSubnav ul{ margin-left:10px;}
.userSubnav ul li{ float:left; width:126px; text-align:left;}
.userSubnav ul li a{ color:#141414; font-size:16px;}
.userSubnav ul li a.on{ color:#2896d4;}
.m_block{ width:100%; border:1px solid #e4e4e4; background:#FFF;}
h2.title{ height:40px; line-height:40px; font-size:16px; color:#141414; padding-left:10px; border-bottom:1px dashed #e4e4e4;}
.m_content{}
.firm_info{ width:490px;}
.firm_time{ width:250px; margin:85px 40px 0 40px;}
ul.dl_info{ list-style:none;}
ul.dl_info li{ margin-bottom:20px;}
span.plan_bar{ width:160px; height:10px; border:1px solid #e4e4e4; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; display:block; position:relative;}
.plan_bar{ width:160px; height:10px; border:1px solid #e4e4e4; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; display:block; position:relative;}
.schedule_bar{ width:120px; height:10px; border:1px solid #e4e4e4; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; display:block; position:relative;}
span.bg_bar{ position:absolute; left:0; top:0; z-index:66; height:8px;display:inline-block; background:#e68f07; border:1px solid #e4e4e4; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
ul.zj_four{ margin-left:15px;}
ul.zj_four li{ float:left; height:88px; border-right:1px solid #e4e4e4; text-align:center; vertical-align:middle;}

ul.zj_four li.last{ border-right:none;}
.mt_strip{ height:40px; border-top:1px dashed #e4e4e4; line-height:40px;}
ul.ul_sumdata li{float:left;}
ul.ul_sumdata li.first{ width:416px; float:left;}
.m_choose{ margin:10px 0;}
.m_title{padding:0 20px;}
ul.mdt_list{ list-style:none; margin:10px 0; padding:0 20px;}
ul.mdt_list li{ float:left; text-align:center; vertical-align:middle; padding-bottom:10px;}
ul.mdt_list li p span.plan_bar{ width:95px;height:10px; border:1px solid #e4e4e4; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; display:inline-block; position:relative; text-align:left;}
ul.mdt_list li p span.bg_bar{height:9px;display:inline-block; background:#f6cd8e; border:1px solid #e4e4e4; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; }
ul.single_ul li{ list-style:none; line-height:35px;}
ul.single_ul li span,ul.xieyi_list li span{ display:inline-block;}
ul.zic_title li{ float:left; margin-right:40px;}
ul.myasset li{float:left;}

ul.trade_list li{ list-style:none; line-height:40px; border-bottom:1px dashed  #e4e4e4; padding:0 20px;}
ul.trade_list li:hover{ background:#f2f9fc;}
ul.trade_list li a{ display:inline-block;}
ul.trade_list li a:hover{ background:#f2f9fc; color: #2896d4;}

ul.qus_list{}
ul.qus_list li{ list-style:none; line-height:40px; border-bottom:1px  dashed #e4e4e4; padding:0 10px;}
ul.qus_list li:hover{ background:#f2f9fc;}
ul.qus_list li a{ display:inline-block; width:100%;}
ul.qus_list li a:hover{ background:#f2f9fc; color: #2896d4;}


.fujian{ width:130px; height:70px; overflow:scroll;border:1px solid #e4e4e4;}
.fujian p{ text-align:left;}
.py_blick{ width:450px; height:180px; margin:20px auto;}
.brick{ width:100%; height:70px;}
.brick_none{ display:none;}
.state_bk{ height:45px; line-height:45px;}
.state_bk h1.title{ font-size:16px; font-weight:500;}
.issue_detail{ width:140px; height:100px; padding:10px; background:#ffffff;border:1px solid #e4e4e4; position:absolute; top:35px; right:10px; z-index:88;}
.uptriangle{ position:relative;  top:2px; right:10px; width:9px; height:7px; z-index:99;}
.issue_detail p{ line-height:30px;}
.fj_img{ width:130px; height:100px; border:1px solid #e4e4e4; display:inline-block; cursor:pointer;}
.prew_img{ width:131px; height:30px; text-align:center; line-height:30px; background:#666;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff, EndColorStr=#ECE9D8);  position:absolute; z-index:99; top:32px; left:0;opacity:0.75;-moz-opacity:0.75;-khtml-opacity:0.75;filter:alpha(Opacity=75); color:#FFF;}
.co-brdipro{ width:100%; height:410px;}
.co-brdipro p{ margin:0 30px;}
.co-brdipro h3{ margin:0 10px;}
.transf .title{ height:30px; line-height:30px; border-bottom:1px dashed #e4e4e4;}
.m_step p{ margin-top:10px;}
.data_circle{ width:85px; height:84px; vertical-align: middle; text-align:center; margin-top: 25px;}
.data_circle p,.harf_circle p{ line-height: 25px;}
.harf_circle{ background:url(../../images/images/data_harfclicle.png) no-repeat top center; width: 170px; height: 125px;}
/*发布资产右边计算器*/
.float-nav {
width: 66px;
border: 1px solid #e0e0e0;
border-bottom: 0 none;
background-color: #fff;
position: fixed;
left: 50%;
margin-left: 507px;
text-align: center;
cursor: pointer;
z-index: 70;
}
.float-nav .item {
display: block;
border-bottom: 1px solid #d8d8d8;
padding: 8px 0;
cursor: pointer;
}

.float-nav .infor {
display: block;
text-align: center;
padding-top: 15px;
height: 14px;
line-height: 14px;
}

.calculator{ width: 830px; display: none; height: 280px; background: #ffffff; position:fixed; z-index: 68; margin: -200px 0 0 -333px; left: 50%;  top: 50%; border:  1px solid #d8d8d8;}
.calculator .title{ height: 40px; line-height: 40px;}
.calculator label{ display: inline-block;}
.shade{position: fixed; 
z-index: 60; 
width: 100%; 
height: 100%; 
top: 0; 
left: 0; 
filter: alpha(opacity=60); 
opacity: 0.6;
-moz-opacity:0.6; 
overflow: hidden; 
background-color: #000; 
display: none;
}
/*银行卡添加*/
span.bank-click_off{ background:url(../../images/images/icon/ck_down.png) no-repeat #d8d8d8 center;
width:11px; height:6px; padding:10px; display:inline-block;position:absolute; right:0; top:0; cursor:pointer; z-index:66;}

span.bank-click_on{ background:url(../../images/images/icon/ck_up.png) no-repeat #d8d8d8 center; 
width:11px; height:6px; padding:10px;  display:inline-block;position:absolute; right:0; top:0; cursor:pointer; z-index:66;}



#bank_style span.bank-click_off{ background:url(../../images/images/icon/ck_down.png) no-repeat #d8d8d8 center;
width:11px; height:6px; padding:10px; display:inline-block;position:absolute; right:0; top:0; cursor:pointer; z-index:66;}

#bank_style span.bank-click_on{ background:url(../../images/images/icon/ck_up.png) no-repeat #d8d8d8 center; 
width:11px; height:6px; padding:10px;  display:inline-block;position:absolute; right:0; top:0; cursor:pointer; z-index:66;}
.bankPicker01{ display:none; position:absolute; z-index:9999;border: 1px solid #d8d8d8;
width: 500px;
padding: 15px 20px 10px;
background: #fff; 
top:25px; 
left:105px;}

.bankPicker02{ display:none; position:absolute; z-index:999;border: 1px solid #d8d8d8;
width: 550px;
padding: 15px 20px 10px;
background: #fff; 
top:25px; 
left:185px;}
.bankTriggers {
border-bottom: 1px solid #DCDCDC;
zoom: 1;
}

.bankPicker03{ display:none; position:absolute; z-index:999;border: 1px solid #d8d8d8;
width: 500px;
padding: 15px 20px 10px;
background: #fff; 
top:25px; 
left:185px;}
.bankTriggers {
border-bottom: 1px solid #DCDCDC;
zoom: 1;
}

.bankTriggers .triger {
letter-spacing: 1px;
float: left;
margin-right: 10px;
background: #EFF1F0;
padding: 0 10px;
border: 1px solid #DCDCDC;
margin-bottom: -1px;
color: #0489C4;
cursor: pointer;
line-height: 22px;
zoom: 1;
_position: relative;
}
.bankTriggers .active {
background: #fff;
color: #555555;
margin-bottom: -1px;
_position: relative;
border-bottom:1px solid #fff;
}

.bankPicker01 .close-link {
background:url(../../images/images/icon/close.png) no-repeat;
height: 16px;
overflow: hidden;
position: absolute;
right: 15px;
text-indent: -1000px;
top: 15px;
width: 16px;
opacity: 0.5;
}
.bankPicker02 .close-link {
background:url(../../images/images/icon/close.png) no-repeat;
height: 16px;
overflow: hidden;
position: absolute;
right: 15px;
text-indent: -1000px;
top: 15px;
width: 16px;
opacity: 0.5;
}

.bankPicker03 .close-link {
background:url(../../images/images/icon/close.png) no-repeat;
height: 16px;
overflow: hidden;
position: absolute;
right: 15px;
text-indent: -1000px;
top: 15px;
width: 16px;
opacity: 0.5;
}

.hotBank {
overflow: hidden;
margin-top: 20px;
width: 502px;
}
.hotBank .hotBank-list {
float: left;
margin-right: 10px;
margin-bottom: 10px;
}
.hotBank .hotBank-list .hotBank-list-ico {
border: 1px solid #fff;
display: block;
width: 155px;
height: 30px;
}

.ICBC, .ABC, .CCB, .CMB, .BOC, .PSBC, .COMM, .CITIC, .CMBC, .CEB, .CIB, .SPDB, .GDB, .HXBANK, .SPABANK, .BJBANK, .SHBANK, .JSBANK, .BJRCB, .JSRCU {
background:url(../../images/images/banks.jpg) no-repeat 0 0;
}
.ICBC {
background-position: 0 -2px;
}
.ABC {
background-position: 0 -38px;
}
.CCB {
background-position: 0 -74px;
}
.CMB {
background-position: 0 -110px;
}

.BOC {
background-position: 0 -148px;
}
.PSBC {
background-position: 0 -182px;
}
.COMM {
background-position: 0 -219px;
}
.CITIC {
background-position: 0 -254px;
}
.CMBC {
background-position: 0 -292px;
}
.CEB {
background-position: 0 -328px;
}
.CIB {
background-position: 0 -363px;
}
.SPDB {
background-position: 0 -398px;
}
.GDB {
background-position: 0 -434px;
}
.SPABANK {
background-position: 0 -506px;
}
.HXBANK {
background-position: 0 -470px;
}
.BJBANK {
background-position: 0 -542px;
}
.SHBANK {
background-position: 0 -580px;
}
.JSBANK {
background-position: 0 -614px;
}
.BJRCB {
background-position: 0 -650px;
}
.JSRCU {
background-position: 0 -686px;
}

.hotBank .hotBank-list .hotBank-list-ico:hover, .hotBank .hotBank-list .bk-selected {
border: 1px solid #6CB1D2;
-moz-transition: border .2s ease-in;
-webkit-transition: border .2s ease-in;
transiton: border .2s ease-in;
}
.hotBank .hotBank-list .hotBank-list-ico {
border: 1px solid #fff;
display: block;
width: 155px;
height: 30px;
}

.bankAlphabet {
margin-top: 14px;
width: 502px;
}
.bankAlphabet .bankAlphabet-acronym {
color: #FF6601;
float: left;
line-height: 23px;
margin-bottom: 15px;
width: 8px;
display:inline-block;
padding-left: 3px;
}
.bankAlphabet .bankAlphabet-list {
margin-left: 20px;
}
.bankAlphabet .bankAlphabet-list .bankAlphabet-list-bank {
margin-right: 10px;
margin-bottom: 15px;
padding: 0 5px;
color: #555555;
line-height: 23px;
display: inline-block;
}
.bankAlphabet .bankAlphabet-list .bk-selected, .bankAlphabet .bankAlphabet-list .bankAlphabet-list-bank:hover {
background-color: #0088CC;
color: #fff;
text-decoration: none;
-moz-transition: all .1s ease-in;
-webkit-transition: all .1s ease-in;
transiton: all .1s ease-in;
}

dt {
display: inline;
}
dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
dd {
display: block;
-webkit-margin-start: 40px;
}


.page{ margin:0 auto;}
ul.pg_list{ list-style:none; margin-left:200px;}
ul.pg_list li{ float:left;font-size:14px; padding:5px;}
ul.pg_list li a{ color:#3e3e3e;}
ul.pg_list li a:hover{color:#1b95e0;}
ul.pg_list li a.on{ color:#1b95e0;}
.detail ul{ list-style:none;}
.detail ul li{ line-height:35px;}
.detail ul li span{ display:inline-block;}
.detail ul li span.lt_label{ width:100px; text-align:right;}
.detail ul li span input{width: 14px;height:14px;vertical-align:middle;border:none;color: #7e7e7e;margin-top:0;}


/*活动页面*/
.actbg01{ background:#e8ecf1;}
.actbg02{ background:#c3e9f9;}
.actbg03{ background:#e2f6ff;}
.actbg04{ background:#f7f7f7;}
.et_hgt01{ height:300px;}
.et_hgt02{ height:200px;}
ul.sptz_good li{ list-style:none; color:#3e3a39; line-height:30px;}

.act_content{ margin:20px 0;}
.act_content h3{ color:#095fb7; line-height:25px;}
.act_content p{ color:#595757;line-height:25px;}
.youshi span{ display:inline-block;}



.orange{color:#26A6E0;}
.passed{
	background:url("../../images/images/passed.png") no-repeat  no-repeat scroll right top rgba(0, 0, 0, 0);
	font-weight: bold;
    padding-bottom: 2px;
    padding-left: 16px;
	} 
span.error{
	    display:none
	}

/*鼠标滑过效果*/
.tooltip{ cursor:pointer;}
#tooltip{
	position:absolute;
	border:1px solid #f2c783;
	border-radius:2px;
	padding:5px 10px;
	font-size:14px; 
	background:#FFF;
	display:none;
}

h2.tit_style{ font-size: 20px; color: #333333;}
p.subheading{ text-indent: 0em;}
.p_interval p{ margin: 10px 0;}

.cust_Service{ width: 802px; height: 600px; background: url(../../images/images/bigicons/contus.png) no-repeat left top; margin-left: 30px;}
.cust_Service p{font-size: 16px; margin-left: 60px; line-height: 50px;}

.wenti_content{ position: absolute; left: 0; top: 30px; z-index: 31; display: none;}
.custom-made{ position:absolute; right:180px; bottom:40px; z-index:40;}
.sift_title{ width:200px; margin:40px auto 10px auto;  border-top:1px solid #e4e4e4;}
.aboutus07{ background: url(../../images/images/bigicons/aboutus07.png) no-repeat right center;}
ul.reports_lists li{ line-height:30px; margin:10px 0;}



table.risk_level{ border-collapse:collapse; margin:10px 10px 0 10px;}
table.risk_level tr td{ border:1px solid #d8d8d8; padding:20px;}
ul.hgao li{ line-height:30px;}


#new_notice {
width: 67px;
height:180px;
position: fixed;
left: 50%;
top: 200px;
margin-left: 495px;
z-index:888;
}
/****  2014-12-08 更新  ****/


.jy_w_wd172{width:172px;}
.jy_w_wd150{width:150px;}
.jy_w_wd80{width:80px;}
.jy_w_wd115{width:115px;}
.jy_w_wd70{width:70px;}
.jy_w_wd135{width:135px;}
.jy_w_wd135{width:135px;}
.jy_w_wd130{width:130px;}

.jy_mt_14{margin-top:14px;}

.jy_overflow{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}


.jy_box{background-color:#f1f1f1;margin-bottom:30px;}
.jy_top_title{height:56px;line-height:56px;font-size:20px;color:#898989;text-align:center;}

.jy_box ul li span{display:block;text-align:center;float:left;}
.jy_thead{height:45px;background-color:#e8e9ea;}
	.jy_thead span{font-size:14px;color:#727171;line-height:45px;}
.jy_list{height:60px;background-color:#fff;border:1px solid #d8d8d8;}
	.jy_list:hover{background:rgba(0,0,0,0.1);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#26000000,endcolorstr=#26000000);}
	.jy_list span{line-height:60px;font-size:14px;color:#3e3a39;}
	.jy_made_btn{background:url(../../images/images/bigicons/made.png) center no-repeat;}
	.jy_made_btn:hover{background:url(../../images/images/bigicons/made_hover.png) center no-repeat;}
	.jy_soldout_btn{background:url(../../images/images/bigicons/soldout.png) center no-repeat;}
	/**** 2014-12-10 订单导入 *****/
	
.jy_nopay_btn{background:url(../../images/images/bigicons/nopay.png) center no-repeat;}
.jy_pay_btn{background:url(../../images/images/bigicons/pay.png) center no-repeat;}
.jy_pay_btn:hover{background:url(../../images/images/bigicons/pay_hover.png) center no-repeat;}

.jy_submit_btn{background:url(../../images/images/bigicons/submit.png) center no-repeat;}
.jy_submit_btn:hover{background:url(../../images/images/bigicons/submit_hover.png) center no-repeat;}

.jy_close_btn{background:url(../../images/images/bigicons/close.png) center no-repeat;}
.jy_close_btn:hover{background:url(../../images/images/bigicons/close_hover.png) center no-repeat;}

.jy_know_btn{background:url(../../images/images/bigicons/i_konw.png) center no-repeat;}
.jy_know_btn:hover{background:url(../../images/images/bigicons/i_konwhover.png) center no-repeat;}
	

	
.jy_content{border:1px solid #d8d8d8;}
	.jy_board{width:100%;height:56px;background:#fff;}
		.jy_board span{width:222px;height:30px;float:left;line-height:28px;font-size:14px;color:#3e3a39;background:#e8e9ea;padding:0 6px;border:1px solid #d8d8d8;box-sizing:border-box;}
		.jy_board a{font-size:16px;line-height:56px;text-decoration:underline;display:block;float:left;}
	.jy_frame{overflow:scroll;width:100%;height:360px;background:#fff;}
		.jy_table{width:1432px;}
		.jy_table table{width:100%;border-collapse:collapse;}
		.jy_table table thead tr{height:45px;border-width:1px 0;border-style:solid;border-color:#d8d8d8;}
		.jy_table table tbody tr{height:44px;border-width:1px 0;border-style:solid;border-color:#d8d8d8;}
		.jy_table table th,.jy_table table td{text-align:center;font-size:14px;}
		
		.jy_table input{text-align:center;height:22px;margin-left:13px;}
		
		/*** 表格内容错误时样式 ***/
		.jy_table .jy_error,.jy_table .jy_nameerror{position:relative;}
		.jy_table .jy_nameerror input{border:1px solid gray;}
		.jy_table .jy_nameerror div{width:250px;height:30px;position:absolute;left:13px;top:-24px;text-align:center;background:url(../../images/images/bigicons/error.png) 65px 22px no-repeat;}
		.jy_table .jy_nameerror div span{display:block;text-align:center;background-color:#F9E9D7;color: #f26d26;}
		.jy_table .jy_error input{background-color:rgba(230,143,7,0.4);border:1px solid #d8d8d8;padding:1px 0;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#56e68f07,endcolorstr=#56e68f07);}
		.jy_table .jy_error input+span{position:absolute;right:-9px;background:url(../../images/images/bigicons/error.png) center no-repeat;}
		.jy_table select{text-align:center;height:26px;margin-left:13px;}
			
	input{ vertical-align:middle; margin:0; padding:0}
	.file-box{position:relative; padding:20px;}
	.jy_txt{width:222px;height:30px;float:left;line-height:28px;font-size:14px;color:#3e3a39;background:#e8e9ea;padding:0 6px;border:1px solid #d8d8d8;box-sizing:border-box;}
	.jy_import{height:50px;font-size:16px;line-height:56px;color:#2896d4;font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;background-color:#FFF;border:1px solid #fff;text-decoration:underline;display:block;position:absolute;left:240px;}
	.jy_file{ position:absolute;top:20px;left:196px; filter:alpha(opacity:0);opacity: 0;width:160px;height:24px;cursor: pointer; visibility:hidden;}	
		
	input[type=checkbox].checkbox{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;}
	input[type=checkbox].checkbox:checked + label.label{background-position: 30px 0;}	input[type=checkbox].checkbox+label.label{margin-right:15px;padding-left:50px;height:15px;display:inline-block;background-repeat:no-repeat;background-position:30px -17px;cursor:pointer; }

	.label{background-image:url(../../images/images/checkbox.png); }
		
.jy_submit{height:62px;background:#fff;}
	.jy_checkbox{font-size:16px;color:#3e3a39;line-height:16px;margin-top:22px;display:block;float:left;}
	.jy_checkbox label{}
	input[type=checkbox].checkbox:checked + .jy_checkbox label{background-position:30px 23px;}
	.jy_submit .sp_blue{font-size:16px;line-height:60px;text-decoration:underline;display:block;float:left;cursor:pointer;}
	.jy_submit_btn{width:160px;height:40px;display:block;float:right;margin-top:10px;cursor:pointer;}
	
.jy_pay{width:385px;font-size:18px;color:#3e3a39;margin:70px auto 0;cursor:pointer;}
.jy_nopay{width:330px;font-size:18px;color:#3e3a39;margin:70px auto 0;}
	.jy_pay_btn,.jy_nopay_btn,.jy_close_btn,.jy_know_btn{width:160px;height:40px;display:block;float:right;margin-top:-8px;}
	
.jy_tips{width:515px;font-size:16px;color:#727171;margin:38px auto 0;}


.jy_table input.chkb{width: 14px;height:14px;vertical-align:middle;border-radius:2px; -moz-border-radius: 2px;-khtml-border-radius: 2px;
-webkit-border-radius: 2px; border:1px solid #141414;color: #7e7e7e; outline:none;}

.warn_tip{ position:relative;}
i.exist_tip{ width:10px; height:8px; z-index:200; display:inline-block; position:absolute; right:1px; top:1px;background:url(../../images/images/icon/right_trangle.png) no-repeat;}
.cont_tip{position:absolute; top:-37px; z-index:200; width:200px; height:28px; line-height:28px; background:#f9e9d7; font-size:12px; color:#f26d26;}
.cont_tip span{ display:block;}
.cont_tip span.san_trangle{ width:0px; height:0px; border:7px solid transparent;border-top-color:#f9e9d7; margin-left:170px;}


.m_top_title{ height:30px; line-height:30px; font-size:20px;color:#898989;text-align:center; }
a span.delete_btn{color:#2896d4; text-decoration:underline; cursor:pointer;}
input.data_input{ width:131px; height:26px; padding:5px; border:1px solid #d8d8d8; margin-top:11px; background:#f1f1f1;}
.sum_limit{ margin:40px 0; color:#3e3a39; font-size:16px;}
.m_btns a{ display:inline-block;}
a.back_btn{ width:160px; height:38px; background:url(../../images/images/bigicons/back-btn.png) center no-repeat;}
a.back_btn:hover{ width:160px; height:38px; background:url(../../images/images/bigicons/back-btnhover.png) center no-repeat;}
a.nxt_btn{width:160px; height:38px;  background:url(../../images/images/bigicons/next_step.png) center no-repeat;}
a.nxt_btn:hover{width:160px; height:38px;  background:url(../../images/images/bigicons/next_stephover.png) center no-repeat;}
a.i_know{ width:120px; height:30px;background:url(../../images/images/bigicons/i_konw.png) center no-repeat;}
a.i_know:hover{ width:120px; height:30px;background:url(../../images/images/bigicons/i_konwhover.png) center no-repeat;}
.my_list{height:60px;background-color:#fff;}

.my_list span{line-height:60px;color:#3e3a39;}


.pay_bar01{bottom:0; position:fixed; z-index:999;}
.pay_bar02{position:static; z-index:999;}


.pay_bar{ background:#e0e0e0; height:68px; width:100%;  line-height:68px;}
a.qrfk_btn{width:160px; height:38px;background:url(../../images/images/bigicons/qrfk_btn.png) center no-repeat; margin-top:13px;line-height:38px;}
a.qrfk_btn:hover{width:160px; height:38px;background:url(../../images/images/bigicons/qrfk_btnhover.png) center no-repeat;}
span.b2a{color:#c44b2a; padding:0 4px;}
.h38px{ height:38px; line-height:38px;}

a span.sp_blue{ color:#2896d4;}
a span.sp_orange{ color:#e68f07;}

input.custom_input{ border:1px solid #d8d8d8; height:30px; line-height:30px;  color:#595757;padding:5px; } 
span.may_btn_up{ padding-left:25px; height:22px; line-height:22px; color:#727171; display:inline-block; background:url(../../images/images/bigicons/up_icon.png) left no-repeat; cursor:pointer;}
span.may_btn_down{ padding-left:25px; height:22px;line-height:22px; color:#727171; display:inline-block; background:url(../../images/images/bigicons/down_icon.png) left no-repeat; cursor:pointer;}
.may_chose{ margin-top:40px; display:none;}
textarea.ttareanew{ border:1px solid #d8d8d8;padding:5px;}

a.sure_dz{width:168px; height:38px;background:url(../../images/images/bigicons/sure_dz.png) center no-repeat;line-height:38px;}
a.sure_dz:hover{width:168px; height:38px;background:url(../../images/images/bigicons/sure_dzhover.png) center no-repeat;line-height:38px;}
a.back_center{ display:inline-block; width:168px; height:40px; background:url(../../images/images/bigicons/jy_center.png) center no-repeat;vertical-align:middle;}
a.back_center:hover{ display:inline-block; width:168px; height:40px; background:url(../../images/images/bigicons/jy_centerhover.png) center no-repeat; vertical-align:middle;}

.short_mid{ width:700px; margin:0 auto;}
table.pro_tab{ border-collapse:collapse; width:100%; border:1px solid #d8d8d8; text-align:center;}
table.pro_tab tr th{ height: 45px; background-color: #e8e9ea; padding:0 3px; line-height:45px;}
table.pro_tab tr td{ height: 45px;  line-height:45px;}
a.down_load_icon{ width:103px; height:39px; background:url(../../images/images/bigicons/down_detailhover.png) no-repeat; vertical-align:bottom;}
a.down_load_icon:hover{ width:103px; height:39px; background:url(../../images/images/bigicons/down_detail.png) no-repeat; vertical-align:bottom;}
.step_new a{ display:inline-block;}

a.step_new01{ width:160px; text-align:center; display:inline-block; background:#b5d7f9; height:37px; line-height:37px; font-size:16px;}

a.step_new01:hover{ width:160px; text-align:center; display:inline-block; background:#86bff9; height:37px; line-height:37px; font-size:16px;}
a.goon_pay{ width:160px; height:38px; background:url(../../images/images/bigicons/goon_pay.png) center no-repeat; }
a.nw_step{ width:160px; text-align:center; display:inline-block; background:#e9e9eb; height:37px; line-height:37px; font-size:16px;}



.cusdesign_addbtn{background:url(../../images/images/bigicons/addbtn.png) center no-repeat;}
.cusdesign_addbtn:hover{background:url(../../images/images/bigicons/addbtnhover.png) center no-repeat;}
input.data_tab{ width:160px; height:20px; line-height:20px; padding:5px; border:1px solid #d8d8d8; margin-top:11px; background:#f1f1f1;}
i.right_new{ display:inline-block; vertical-align:bottom; width:22px; height:22px; background:url(../../images/images/icon/right_new.png) center no-repeat;}
i.error_new{ display:inline-block; vertical-align:bottom; width:22px; height:22px; background:url(../../images/images/icon/erro_new.png) center no-repeat;}
.configure_tooltip{ position:absolute; width:216px;z-index:333; right:60px; top:-48px;}
.configure_tooltip .config_cont{ width:214px; padding:5px; border:1px solid #d8d8d8;background:#fff; font-size:12px; color:#ff0000; line-height:20px; }
.configure_tooltip .config_trangle{background:url(../../images/images/icon/config_tooltip.png) left no-repeat; width:12px; height:7px; margin-top:-1px; margin-left:15px;}

p.p_binding{height:22px; line-height:22px;}
a.ques_tip{ display:inline-block; width:25px; height:25px; background:url(../../images/images/icon/warning_icon.png) no-repeat center center; line-height:16px; vertical-align:middle; }
.buy_tip{background:url(../../images/images/liucheng.png) no-repeat center center; width:229px; height:115px; margin-left:200px; display:none;}







