body{
	margin:0;
	padding:0;
	min-width:1000px;
	position:relative;
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:14px;
	}
ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,img,input,label{margin:0px;padding:0px;}
ul li{list-style-type:none;}
input{ outline:none;}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.clearfix {
	*zoom:1
}
.clearfix {
	clear:both;
}
a{ text-decoration:none;}	
.fl{ float:left;}
.fr{ float:right;}
.content_bd{width:810px; border:1px solid #d8d8d8;border-radius:2px; 
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;}	
.content_mid{ padding:20px;}
.detail ul{ list-style:none;}
.detail ul li{ line-height:35px;}
.detail ul li span{ display:inline-block;}
.detail ul li span.lt_label{ width:120px; text-align:right; padding-right:30px;}
.detail ul li span.lt_lab_left{ width:160px; text-align:right; padding-right:30px;}
.detail ul li span input{width: 14px;height:14px;vertical-align:middle;border:none;color: #7e7e7e;margin-top:0;}
.detail ul.renew li{ line-height:45px;}
.detail ul li input.txt{
	width: 260px;
	height: 20px;
	padding: 5px; 
	line-height: 20px;
	border-radius:2px; 
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border:1px solid #d8d8d8;
	color: #7e7e7e;}
.detail ul li input.txtyb{
	width: 114px;
	height: 20px;
	padding: 5px; 
	line-height: 20px;
	border-radius:2px; 
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border:1px solid #d8d8d8;
	color: #7e7e7e;}
.detail ul li select.txt{
	width: 272px;
	height: 30px;
	padding: 5px;  
	line-height: 30px;
	border-radius:2px; 
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border:1px solid #d8d8d8;
	color: #7e7e7e;}
.detail ul li select.txtyb{
	width: 126px;
	height: 30px;
	padding: 5px;  
	line-height: 30px;
	border-radius:2px; 
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border:1px solid #d8d8d8;
	color: #7e7e7e;}
.detail ul li input.txtst{
	width: 212px;
	height: 20px;
	padding: 5px;  
	border-radius:2px; 
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border:1px solid #d8d8d8;
	color: #7e7e7e;}
.box_head{ width:810px;}
.mt20px{ margin-top:20px;}
.ml20px{ margin-left:20px;}
.updown .txtnone{ border:none; width:240px;}
.blue_bg{ background:#1b95e0; color:#FFF; padding:2px 6px; font-size:12px}
.lt_lab_left{ width:180px; text-align:right}
.data{ width:810px;}
.data table{ text-align:center;border-collapse:collapse;}
.data table tr td,.data table tr th{ border:1px solid #d8d8d8; padding:2px 6px; height:30px;}
a.m_btn1{
	display: inline-block;
	width: 136px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑", "Microsoft YaHei";
}
.m_bg1{ background:#1b95e0;}
.m_bg2{ background:#666;}	

.member ul li span.lt_label{ display:inline-block; width:120px; text-align:right; padding-right:30px;}
.member ul li span.lt_label_left{ display:inline-block; width:200px; text-align:left; padding-right:30px; }
.company{ font-size:18px;}

